* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.controls-container {
    height: 100px;
    position: absolute;
    width: 100vw;
    bottom: 0;
    background-color: rgba(255,255,255,0.5);
}