
.header-logo {
  text-align: center;
  svg {
    width: 100%;
    height auto;
    max-width: 600px;
    delay = 0s;
    for i in (1..9) {
      path:nth-child({i}) {
        animation-delay: delay;
        animation-duration: 3s;
        animation-name: cycle;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-fill-mode: both;
      }
      delay += .2;
    }
  }
  .version {
    font-size: 24px;
    text-transform: uppercase;
    color: #96cada;
    margin-top: -30px;
    text-align: center;
    letter-spacing: 1.5em;
  }
}

.hero {
  text-align center;
  padding-bottom 50px
  padding-bottom 50px
  margin-bottom: 50px;
  color: #19653d;
  border-bottom 1px solid #a5ffc7


  h3 {
    font-weight: normal;
    letter-spacing: 0.05em;
    font-size: 1.5em;
  }

  .download-button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #19653d;
    background-color: #b3f7ff;
    box-shadow: 0px 1px 5px -1px rgba(0,0,0,0.44);
    border-radius: 3px;
    padding: 10px 20px;
    transition: background 0.3s;
    &:hover {
      background-color: #e0f6ff;
    }
    > * {
      margin: 0 5px;
    }
      > img {
        opacity: 0.1;
      }
  }
}

.yt-video {
  text-align center;
}

@keyframes cycle {
  0% {
    fill: rgba(62, 231, 191, 0.3);
  }
  50% {
    fill: rgba(62, 231, 255, 0.3);
  }
  100% {
    fill: rgba(0, 169, 255, 0.3);
  }
}