@import "libs/normalize";
@import "variables";

* {
  box-sizing: border-box;
}

a {
  color: #07c886;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  &:hover {
    color: #38d43e;
  }
}

.header-logo {
  width: 100%;
  max-width: 600px;
}

@import "layout";
@import "footer";
@import "sidebar";
@import "article";
@import "post-list";
@import "monochrome";
@import "highlight";
@import "pagination";
@import "archive";
@import "mobile-header";
@import "third-party";
