<div class="header-logo">
  <%- partial('_partials/logo', {}, {cache: true}) %>
  <div class="version">beta</div>
</div>
<div class="hero">
  <h3>A native desktop audio visualizer<br> built with Electron and Angular 2</h3>
  <a class="download-button" href="https://github.com/michaelbromley/skqw/releases">
    <%- image_tag('images/windows8.svg') %>
    <%- image_tag('images/apple.svg') %>
    Download for Windows & macOS
  </a>
</div>
<p>SKQW (pronounced "skew") allows you to visualize the audio output of you computer's sound card.
It is inspired by my love of the old Winamp plugins like Milkdrop and Geiss.
Visualizations are written in JavaScript and are rendered with HTML Canvas.</p>

<h3>Blog post: <a href="http://www.michaelbromley.co.uk/blog/541/an-early-look-at-skqw-javascript-audio-visualizer">An Early Look at SKQW: JavaScript Audio Visualizer</a></h3>

<div class="yt-video">
<iframe width="640" height="380" src="https://www.youtube-nocookie.com/embed/OD636XmkRQ4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>
