<div class="header-logo">
  <%- partial('_partials/logo', {}, {cache: true}) %>
  <div class="version">alpha</div>
</div>

<h3>A native desktop audio visualizer, built with Electron and Angular 2.</h3>

<p>SKQW (pronounced "skew") allows you to visualize the audio output of you computer's sound card.
It is inspired by my love of the old Winamp plugins like Milkdrop and Geiss.
Visualizations are written in JavaScript and are rendered with HTML Canvas.</p>

<div class="yt-video">
<iframe width="640" height="380" src="https://www.youtube-nocookie.com/embed/OD636XmkRQ4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</div>