<div class="header-logo">
  <%- partial('_partials/logo', {}, {cache: true}) %>
</div>

<h3>A native desktop audio visualizer, built with Electron and Angular 2.</h3>

<p>SKQW (pronounced "skew") allows you to visualize the audio output of you computer's sound card.
It is inspired by my love of the old Winamp plugins like Milkdrop and Geiss.
Visualizations are written in JavaScript and use HTML Canvas (2d or 3d) to render.</p>
