.settings-group-container {
  margin-bottom: 20px;
  color: #afafaf;

  .toggle-icon {
    transform: rotateZ(-90deg) translateY(-5px);
    transition: transform 0.2s;
    margin-left: 3px;
    margin-top: -2px;
  }

  .toggle-icon /deep/ svg {
    width: 22px;
    height: 22px;
    fill: #6BBBD4;
  }

  &.visible {
    .toggle-icon {
      transform: rotateZ(0deg) translateX(-7px) translateY(2px);
    }
  }

  > .group-title {
    cursor: pointer;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.8);
    color: #6BBBD4;
    padding: 3px 0 0 6px;
  }

  &.visible .group-content {
    max-height: 500px;
  }

  > .group-content {

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    padding-top: 10px;

    .content-wrapper {
      // required so that collapsed margins in child elements
      // get measured when getting the wrapper's height.
      border: 1px solid transparent;
      padding-left: 5px;
    }
  }
}