@import "variables";

.settings-group-container {
  margin-bottom: 20px;
  color: #afafaf;

  .group-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 2px;
    word-spacing: 3px;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.4);
    color: $primary-color;
    padding: 2px 8px 0;
  }

  .name {
    height: 20px;
  }

  .toggle-icon {
    transform: rotateZ(0deg);
    transition: transform 0.2s;
  }

  &.visible {
    .toggle-icon {
      transform: rotateZ(90deg);
    }
  }

  &.visible .group-content {
    max-height: 500px;
    opacity: 1;
  }

  > .group-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    padding-top: 10px;
    transition: max-height 0.2s, opacity 0.4s;
    will-change: max-height, opacity;

    .content-wrapper {
      // required so that collapsed margins in child elements
      // get measured when getting the wrapper's height.
      border: 1px solid transparent;
      padding-left: 5px;
    }
  }
}