:host {
  display: block;
  margin: 20px 0 10px;
}

/deep/ md-select {
  width: 100%;
  color: #888;
}

/deep/ .mat-select-arrow {
  color: #888;
}

/deep/ .mat-select-value {
  color: #ccc;
}

/deep/ .mat-select-trigger {
  color: #aaa;
  border-bottom: 1px solid #888;
}