@import "variables";

:host {
  display: block;
  margin: 10px 0 30px;
}

.parameter-controls {
  color: #bbb;

  /deep/ .md-slider-track {
    background-color: #bbb;
  }

  .skqw-control {
    @include inline-slider(65%);
  }
}