<div class="parameter-controls">

    <div class="parameter" *ngFor="let item of paramsArray">

        <div *ngIf="item.param.type === 'range'" class="skqw-control">
            <label>{{ item.param.label }}: {{ item.param.value }}</label>
            <input type="range"
                   (input)="updateValue(item.key, $event.target.value)"
                   [value]="item.param.value"
                   [min]="item.param.min"
                   [step]="item.param.step"
                   [max]="item.param.max">
        </div>

        <div *ngIf="item.param.type === 'boolean'" class="skqw-control">
            <label> {{ item.param.label }}</label>
            <input type="checkbox"
                   (change)="updateValue(item.key, $event.target.checked)"
                   [checked]="item.param.value">
        </div>
    </div>

</div>