.settings-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.6);
  opacity: 0;
  transition: opacity 0.5s;

  h1 {}

  &.visible {
    opacity: 1;
  }
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  width: 40px;
  height: 40px;
  z-index: 10;

  svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: rgba(200, 200, 200, 0.3);
  }
}
