<div class="icons" [ngClass]="{ visible: state.settingsIconsVisible }">
    <div class="icon">
        <div [innerHTML]="icon_settings" (click)="showModal('settings')"></div>
    </div>
    <div class="icon" (click)="showModal('info')">
        <div [innerHTML]="icon_info"></div>
    </div>
</div>

<settings-modal [visible]="state.settingsModal === 'settings'" (close)="hideModal('settings')">
    <h1 class="title is-1">Settings</h1>
    <library-path-selector [library]="state.library"
                           [libraryDir]="state.libraryDir"
                           (selectLibraryDir)="selectLibraryDir.emit($event)"></library-path-selector>
    <hr>
    <input-selector [inputs]="state.inputDevices"
                    [selectedId]="state.selectedInputId"
                    (inputChange)="changeInputDeviceId.emit($event)"></input-selector>
</settings-modal>

<settings-modal [visible]="state.settingsModal === 'info'" (close)="hideModal('info')">
    SKQW by Michael Bromley
</settings-modal>
