@import "variables";

.panel-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: block;
  width: 500px;
  max-width: 90vw;
  transform: translateX(450px);
  z-index: 10;
  transition: transform 0.2s;
  transition-timing-function: cubic-bezier(.82,.11,.68,.99);
  background-color: rgba(50, 50, 50, 0);

  .panel-body {
    opacity: 0;
    transition: opacity 0.4s;
  }

  &.expanded {
    background-color: rgba(20, 20, 30, 0.85);
    border-left: 1px solid #252525;
    transform: translateX(0px);

    .panel-body {
      opacity: 1;
    }
  }

  &.visible {
    .toggle-icon {
      opacity: 1;
    }
  }

  .toggle-icon {
    position: absolute;
    z-index: 10;
    left: -15px;
    top: 10px;
    color: rgba(0, 0, 0, 0.89);
    transition: color 0.2s, opacity 0.8s, left 0.5s;
    cursor: pointer;
    will-change: left;
    opacity: 0;
    &:hover {
      color: rgba(33, 33, 33, 0.9);
    }
  }

  .panel-body {
    margin-left: 50px;
    padding: 50px 20px 20px 10px;
    position: relative;
    overflow-y: scroll;
    height: 100%;
  }
}

.sample-rate {
  @include inline-slider(55%);
}

ul.shortcuts {
  list-style-type: none;
  margin: 0;

  li {
    margin-top: 8px;
  }

  code {
    color: #333;
    padding: 2px 6px;
    background-color: rgba(150, 150, 150, 0.8);
    border-radius: 2px;
    border: 1px solid rgb(100, 100, 100);
    font-weight: bold;
  }

  .key {
    margin-left: 15px;
  }
}

.about {
  text-align: center;
  position: relative;
  img {
    width: 100%;
  }
  .version {
    font-size: 14px;
    margin-bottom: 10px;
  }
}