<div class="panel-container" [ngClass]="{ visible: state.settingsIconVisible, expanded: state.settingsExpanded }">
    <div class="icon toggle-icon" (click)="toggle.emit(!state.settingsExpanded)">
        <div [innerHTML]="icon_settings"></div>
    </div>

    <div class="panel-body">

        <settings-group groupTitle="Visualization" [visible]="true">
            <v-selector [current]="current"
                        [state]="state"
                        (select)="select.emit($event)"></v-selector>
        </settings-group>

        <settings-group groupTitle="Parameters">
            <gain-selector [state]="state"
                           (setGain)="setGain.emit($event)"
                           (setSampleRate)="setSampleRate.emit($event)"></gain-selector>

            <parameter-controls [params]="current?.params"
                                (updateParam)="updateParam.emit($event)"></parameter-controls>
        </settings-group>

        <settings-group groupTitle="Library Path">
            <library-path-selector [library]="state.library"
                                   [libraryDir]="state.libraryDir"
                                   (selectLibraryDir)="selectLibraryDir.emit($event)"></library-path-selector>
        </settings-group>

        <settings-group groupTitle="Input Device">
            <input-selector [inputs]="state.inputDevices"
                            [selectedId]="state.selectedInputId"
                            (inputChange)="changeInputDeviceId.emit($event)"></input-selector>
        </settings-group>

        <settings-group groupTitle="Keyboard Shortcuts">
            <ul class="shortcuts">
                <li><code>▲</code> <span class="key">Increase gain</span></li>
                <li><code>▼</code> <span class="key">Decrease gain</span></li>
                <li><code>►</code> <span class="key">Load next visualization</span></li>
                <li><code>◄</code> <span class="key">Load previous visualization</span></li>
                <li><code>alt</code> + <code>r</code> <span class="key">Reload current visualization</span></li>
                <li><code>alt</code> + <code>f</code> <span class="key">Toggle full screen mode</span></li>
                <li><code>ctrl</code> + <code>shift</code> + <code>i</code> <span class="key">Toggle developer tools</span></li>
            </ul>
        </settings-group>

        <settings-group groupTitle="About">
            <div class="about">
                <img src="../../../assets/images/logo.svg">
                SKQW v{{ version }}<br>
                by Michael Bromley<br>
                <a href="http://michaelbromley.github.io/skqw/" target="_blank">Website</a>
            </div>
        </settings-group>
    </div>
</div>
