<visualizer [sample]="sample" [visualization]="vis"></visualizer>

<settings-panel
        [state]="state.stateChanges$ | async"
        (toggleModal)="settingModalChanged($event)"
        (selectLibraryDir)="selectLibraryDir()"
        (changeInputDeviceId)="setInputDeviceId($event)"></settings-panel>

<v-selector [current]="vis"
            [state]="state.stateChanges$ | async"
            (setGain)="setGain($event)"
            (select)="selectVis($event)"
            (toggleExpandClick)="toggleVSelectorExpanded($event)"
            (toggleNormalization)="toggleNormalization($event)"
            (updateParam)="updateParamValue($event)"></v-selector>
