<visualizer [sample]="sample" [visualization]="vis"></visualizer>

<notification></notification>

<settings-panel
        [state]="state.stateChanges$ | async"
        (toggle)="toggleSettings($event)"
        (selectLibraryDir)="selectLibraryDir()"
        (changeInputDeviceId)="setInputDeviceId($event)"

        [current]="vis"
        (setGain)="setGain($event)"
        (setSampleRate)="setSampleRate($event)"
        (select)="selectVis($event)"
        (updateParam)="updateParamValue($event)"></settings-panel>
