:host {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 20px;

  .gain-selector-container {
    padding: 10px;
    opacity: 0;
    transition: opacity 0.8s;
    display: flex;
    flex-direction: column;

    &.active {
      opacity: 1;
    }

    /deep/ .md-slider-track {
      background-color: #bbb;
    }


    .label {
      color: rgba(230, 230, 230, 0.8);
      min-width: 100px;
    }
  }
}
