<div class="gain-selector-container">

    <div class="skqw-control">
        <label> Gain: {{ state.gain }}</label>
        <input type="range"
               (input)="setGain.emit($event.target.value)"
               [value]="state.gain"
               [min]="minGain"
               [max]="maxGain">
    </div>

    <div class="skqw-control">
        <label> Sample Rate (Hz): {{ state.sampleRate }}</label>
        <input type="range"
               (input)="setSampleRate.emit($event.target.value)"
               [value]="state.sampleRate"
               [min]="minSampleRate"
               [max]="maxSampleRate"
               step="10">
    </div>
</div>
