:host {
  color: #bbb;
  md-list-item {
    color: #bbb;
    background-color: rgba(0, 0, 0, 0.24);
    &.selected {
      background-color: rgba(100, 100, 100, 0.34);
    }
  }

  .path {
    font-size: 12px;
    opacity: 0.5;
  }

  .add-button {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
  }
}