<div class="v-selector-container">
    <div class="title">Visualization Library</div>
    <md-nav-list class="ps-child">
        <md-list-item *ngFor="let entry of state.library | async"
                      [class.selected]="(current$ | async)?.id === entry.id"
                      (click)="select(entry)">
            <h4 md-line class="name">{{ entry.name }}</h4>
            <p md-line class="path"> {{ entry.path }} </p>
            <button md-icon-button [mdMenuTriggerFor]="menu" (click)="menuClick($event)">
                <md-icon>more_vert</md-icon>
            </button>
            <md-menu #menu="mdMenu">
                <button md-menu-item (click)="remove(entry, $event)">
                    <md-icon>delete</md-icon>
                    <span>Remove</span>
                </button>
            </md-menu>
        </md-list-item>
    </md-nav-list>
    <div class="empty-placeholder" *ngIf="(state.library | async).length === 0">
        Library is empty!
    </div>
    <div class="add-button">
        <button md-icon-button
                title="Add a visualization"
                color="primary"
                (click)="add()"><md-icon>add</md-icon></button>
    </div>
</div>
