:host {

  .title-row {
    text-align: center;
    color: #afafaf;
    & > div {
      display: inline-block;
    }

    .title {
      margin: 0 20px;
      color: #afafaf;
    }

    .icon {
      // margin-top: 5px;
      svg {
        fill: #afafaf;
      }
    }

    /deep/ .prev-icon svg {
      transform: rotateZ(180deg) translateX(7px);
    }
  }
}