:host {

  ul.library-list {
    margin-bottom: 10px;

    li {
      padding: 5px;
      border-bottom: 1px solid #252424;
      cursor: pointer;
      display: flex;

      &.selected {
        color: #efefef;
      }

      .name {
        flex-grow: 1;
      }
    }
  }
}