$input-color: #3b56da;

input[type=range]{
  -webkit-appearance: none;

  &::-webkit-slider-runnable-track {
    width: 300px;
    height: 16px;
    background: #ccc;
    border: none;
    border-radius: 3px;
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 0;
    background: $input-color;
  }

  &:focus {
    outline: none;
  }

  &:focus::-webkit-slider-runnable-track {
    background: #ccf;
  }

  &.dark {
    &::-webkit-slider-runnable-track {
      background: #333;
    }
    &:focus::-webkit-slider-runnable-track {
      background: #335;
    }
  }
}

input[type="checkbox"] {
  width: 0;
  height: 0;
}

input[type="checkbox"]:before {
  cursor: pointer;
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

input[type="checkbox"]:checked:before {
  background: $input-color;
}
