
@mixin scrollbar-styles() {
  /deep/ .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: rgba(150, 150, 150, 0.7);
  }

  /deep/ .ps-container:hover > .ps-scrollbar-y-rail:hover {
    background-color: rgba(85, 85, 85, 0.67);
  }

  /deep/ .ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
    background-color: rgba(119, 119, 119, 0.67);
  }
}
